.select-menu-dark .css-1nmdiq5-menu {
  background-color: #343a46 !important;
}

.select-menu-dark .css-1n6sfyn-MenuList {
  border-radius: 4px !important;
  background-color: #343a46 !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.select-menu-dark .Select_select-item__B6_1C {
  color: #fff !important;
}

.select-menu-dark .Select_select-item__B6_1C:hover {
  color: #fff !important;
  background-color: #414857 !important;
}

.select-menu-dark .Select_selected__4Lwfv,
.select-menu-dark .Select_selected__4Lwfv:hover {
  color: #fff !important;
  background-color: #20bd5f !important;
}
