@import './fonts/font.css';

* {
  font-family: 'Gilroy', 'Roboto', 'sans-serif';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

/* hide scrollbar */
html::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}
